@media screen and (max-width: 1130px)
    html
        font-size 90%
        .circle .stick-1 .stick-2 .text
            font-size 0.75rem

@media screen and (max-width: 1020px)
    html
        font-size 80%
        .circle .stick-1 .stick-2 .text
            font-size 0.875rem

@media screen and (max-width: 910px)
    html
        font-size 70%
        .circle .stick-1 .stick-2 .text
            font-size 1rem

@media screen and (max-width: 800px)
    html
        font-size 60%
    .dots .dot
        width 1.25rem
        height 1.25rem
        margin 1rem

@media screen and (max-width: 680px)
    .frame .chapter .text-chapter
        width 50vw

@media screen and (max-width: 630px)
    .dots
        bottom 3.75%
    .section-info
        bottom 13rem
    .section-info-numbers
        bottom 10rem

@media screen and (max-width: 510px)
    .frame .chapter .text-chapter
        width 62.5vw

@media screen and (max-width: 450px)
    .frame .frame-infos .top-right
        top auto
        bottom 2.5%

@media screen and (max-width: 410px)
    .frame .chapter .text-chapter
        width 75vw
        left 1.6rem
    .circle .stick-1 .stick-2 .text
        width 12.5rem
    .section-info,
    .section-info-numbers
        left 8rem

@media screen and (max-width: 380px)
    .frame
        .title
            .title-top
                font-size 2rem
            .title-bottom
                font-size 4rem
        .chapter .title-chapter
            font-size 3rem
    .section-info,
    .section-info-numbers
        left: 2rem

@media screen and (max-width: 340px)
    .frame .chapter .text-chapter
        width 81.25vw
        left 0