// Slide

.slide
  position absolute
  top 0
  width 100vw
  height 100vh
  opacity 0
  transform translate(100%, 0%)
  transition opacity ease-in-out, transform ease-in-out
  transition-delay 0.75s
  transition-duration 0.75s
  will-change opacity, transform
  z-index 0
  &.active
    opacity 1
    transform translate(0, 0)
    transition-delay 0s !important
    z-index 1
  &:first-child
    left 0

  .bloc
    position relative
    width 100%
    height 100%
    .section-info
      position absolute
      bottom 10rem
      left 12rem
      p
        color #fff
        padding-top 10%
        font-size 1.25rem
        font-weight 300
      span
        font-size 1.875rem
        font-weight 600
    .section-info-numbers
      position absolute
      bottom 7rem
      left 12rem
      p
        color #fff
        padding-top 10%
        font-size 1.25rem
        font-weight 300
        margin-top 1rem
      span
        display inline
        font-size 1.125rem
        font-weight 600
        border-radius 20rem
        padding 0.75rem
        margin-left 0.2rem
        &.blue
          border solid 1.5px #3366CC
        &.green
          border solid 1.5px #33CC57
        &.violet
          border solid 1.5px #6133CC
    .image
      position absolute
      width 100%
      height 100%
      top 0
      left 0
      transition transform 0.25s ease-in-out
      will-change transform

    &.active .image
      transform scale(1.1875)

  &:nth-child(1)
    .bloc:nth-child(1) .image
      background url(../assets/images/bg1.jpg)
      background-size cover
      background-position center

  &:nth-child(2)
    .bloc:nth-child(1) .image
      background url(../assets/images/bg2.jpg)
      background-size cover
      background-position center
    .bloc:nth-child(2) .image
      background url(../assets/images/bg0.png)
      background-size cover
      background-position center

  &:nth-child(3)
    .bloc:nth-child(1) .image
      background url(../assets/images/bg3.jpg)
      background-size cover
      background-position center
    .bloc:nth-child(2) .image
      background url(../assets/images/bgV.png)
      background-size cover
      background-position center
    .shuttle
      position absolute
      bottom 11rem
      right -11rem
      z-index 1
      width 60%
      animation-name shuttle-move
      animation-duration 3s
      animation-timing-function cubic-bezier(0.54, 0.53, 0.61, 0.61)
      animation-iteration-count infinite
      animation-direction alternate-reverse
      animation-fill-mode both

  &:nth-child(4)
    .bloc:nth-child(1) .image
      background url(../assets/images/bg4.png)
      background-size cover
      background-position center
    .bloc:nth-child(2) .image
      background url(../assets/images/bgV.png)
      background-size cover
      background-position center
    .astronaut
      position absolute
      bottom -6rem
      right -4rem
      z-index 1
      width 26%
      animation-name astronaut-move
      animation-duration 3s
      animation-timing-function cubic-bezier(0.54, 0.53, 0.61, 0.61)
      animation-iteration-count infinite
      animation-direction alternate-reverse
      animation-fill-mode both

  &:nth-child(5)
    .bloc:nth-child(1) .image
      background url(../assets/images/bg5.png)
      background-size cover
      background-position center
      text-align center
    .bloc:nth-child(2) .image
      background url(../assets/images/bgV.png)
      background-size cover
      background-position center
    .quote
      position absolute
      top 45%
      left 0
      width 100%
      padding 5%
      font-size 3rem
    .author
      position absolute
      bottom 25%
      font-size 1.5rem
      width 100%
    .sign
      position absolute
      bottom 0.5rem
      right -8rem
      z-index 1
      width 50%
      will-change opacity
      animation-name sign-opacity
      animation-duration 2s
      animation-timing-function cubic-bezier(0.54, 0.53, 0.61, 0.61)
      animation-iteration-count infinite
      animation-direction alternate-reverse
      animation-fill-mode both

  &:nth-child(6)
    .bloc:nth-child(1) .image
      background url(../assets/images/bg6.png)
      background-size cover
      background-position center
    .bloc:nth-child(2) .image
      background url(../assets/images/bgV.png)
      background-size cover
      background-position center
    .advice
      position absolute
      left 37.5%
      bottom 50%
      font-size 1.25rem
      margin 1em
    .ship
      position absolute
      top 0.5rem
      right 1rem
      z-index 1
      width 30%
      opacity 0.7
      will-change opacity
      animation-name ship-move
      animation-duration 2s
      animation-timing-function cubic-bezier(0.54, 0.53, 0.61, 0.61)
      animation-iteration-count infinite
      animation-direction alternate-reverse
      animation-fill-mode both

  .scroll
    position absolute
    right 5rem
    bottom 5rem
    text-transform uppercase
    .top,
    .down
      position absolute
      left 50%
      background-color #FFFFFF
      width 1px
      height 5rem
      transition transform 0.125s ease-out
      will-change transform
      animation scroll-bar 2s infinite linear
    .top
      bottom 200%
    .down
      top 200%
      animation-delay 1s
