doctype html
html(lang="en")

	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Mars Journey | SpaceX
		//- Icons
		link(rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png")
		link(rel="manifest" href="assets/favicons/manifest.json")
		link(rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#00556e")
		meta(name="theme-color" content="#ffffff")
		//- Styles
		link(rel="stylesheet" href="styles/reset.css")
		link(rel="stylesheet" href="styles/main.css")
		//- Scripts
		script(src="scripts/modernizr.js")

	body

		//- Loading
		.loadingPage
			#bodymovin
			p Immersive experience
				br
				| Put your headphones
			img(src="assets/images/headphone.svg" alt="headphones")

		//- Frame
		.frame.parallax(data-depth="5")
			.corner.top-left
				//- Logo
				img.frame-logo(src="assets/images/logo-spacex.png" alt="logo")
			.corner.top-right
			.corner.bottom-right
			.corner.bottom-left
			//- Information
			.frame-infos
				p.top-left Destination : 
					span.red Mars
				p.top-right
					span.green On
					| &deg;C 
					span.red -270
					span.hours
					| :
					span.minutes
					| :
					span.seconds
				p.bottom
					| LA : 
					span.pos-a
					|  LO : 
					span.pos-o
			//- Title
			.title
				.stick
				p.title-top Welcome to
				p.title-bottom
					span Mars
					| Journey
			//- Chapter
			.chapter
				p.title-chapter
				p.text-chapter

		//- Slider
		.slider
			//- First slide
			.slide.active
				.bloc.active.parallax(data-depth="3")
			//- Second slide
			.slide
				.bloc.parallax(data-depth="2")
				.bloc.parallax(data-depth="2")
					.section-info.parallax(data-depth="5")
						p Navet Shuttle :
							span 2000 
							| t
						p Take-Off thrust :
							span 4400 
							| t
						p Speed of the rocket :
							span 35 000 
							| km/h
			//- Third slide
			.slide
				.bloc.parallax(data-depth="2")
				.bloc.parallax(data-depth="2")
					.section-info-numbers.parallax(data-depth="5")
						p The shuttle in numbers :
						p Days :
							span.numbers-info.blue 260
						p People :
							span.numbers-info.green 100
						p Playload :
							span.numbers-info.violet 150
					img.shuttle(src="assets/images/shuttle.png" alt="shuttle")
			//- Fourth slide
			.slide
				.bloc.parallax(data-depth="2")
				.bloc.parallax(data-depth="2")
					.section-info-numbers.info-two.parallax(data-depth="5")
						p You&apos;ll have to follow a shedule so as to be in good health :
						p Sport :
							span.numbers-info.blue 2h
						p Sleep :
							span.numbers-info.green 1h
						p Social interaction :
							span.numbers-info.violet 1h
					img.astronaut(src="assets/images/astronaut.png" alt="astronaut")
			//- Fifth slide
			.slide
				.bloc.parallax(data-depth="2")
					.quote.parallax(data-depth="5") &ldquo;The conquest of space is worth the risk of life.&rdquo;
					.author.parallax(data-depth="5") Gus Grissom
				.bloc.parallax(data-depth="2")
					.section-info-numbers.info-two.parallax(data-depth="5")
						p Going to Mars can&apos;t be 100% safe
						p Muscle Lost :
							span.numbers-info.blue 20%
						p Speed :
							span.numbers-info.green 11 km/s
						p Temperature :
							span.numbers-info.violet -60&deg;C
					img.sign(src="assets/images/sign.png" alt="sign")
			//- Sixth slide
			.slide
				.bloc.parallax(data-depth="2")
				.bloc.parallax(data-depth="2")
					img.ship(src="assets/images/ship.png" alt="ship")

		//- Cursor
		canvas

		//- Circles
		.circles
		.dots
		audio.tick(src="assets/audios/tick.wav")

		//- Scripts
		script(src="scripts/lottie.js")
		script(src="scripts/howler.js")
		script(src="scripts/howler.spatial.js")
		script(src="scripts/main.js")